#root {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

#app {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to right, #cc00ff, #7000ff); */
  background: linear-gradient(
    to bottom,
    #161a1a 0%,
    rgba(38, 41, 41, 0.99) 100%
  );
}

#home {
  position: absolute;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 35px;
  height: 100px;
  color: #cc00ff;
  font-weight: bold;
}

.nav-ul {
  display: flex;
  gap: 50px;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

li {
  list-style-type: none;
}
.creative_link {
  text-decoration: none;
  color: white;
}

.account {
  padding: 4px;
  border-radius: 12px;
  background-color: #cc00ff;
  color: white;
  box-sizing: border-box;
}

.account a {
  text-decoration: none;
  color: white;
}

.account-button {
  background: linear-gradient(
    to bottom,
    #161a1a 0%,
    rgba(38, 41, 41, 0.99) 100%
  );
  border-radius: 10px;
  padding: 8px;
  box-sizing: border-box;
}

#video-player {
  width: 100%;
  height: 100%;
  text-align: center;
}

#answer-part {
  display: flex;
  gap: 30px;
  height: 30%;
  width: 100%;
  margin: 25px 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.answer {
  width: 10%;
  height: 50%;
}

.container {
  height: 400px;
  width: 100%;
  height: 600px;
  padding: 0 100px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800;900&family=Rubik+Bubbles&display=swap");

.container h1 {
  color: white;
  position: relative;
  font-family: "Rubik Bubbles", sans-serif;
}

.main_title {
  text-transform: uppercase;
  text-shadow: 2px 4px 4px #cc00ff;
  color: white;
  margin-bottom: 20px;
}

.slider {
  width: 100%;
  background: red;
  height: 500px;
  margin: 25px 0px;
}

.wrapper {
  max-width: 1500px;
  width: 100%;
  position: relative;
  height: 105%;
  display: flex;
  flex-direction: column;
  top: -10px;
}

.wrapper i {
  height: 50px;
  width: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  font-size: 1.25rem;
  top: 57%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:nth-child(2) {
  left: -72px;
  z-index: 9;
}

.wrapper i:last-child {
  right: -72px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3));
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.category_card .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  padding: 10px;
}

.category_card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 2.3rem;
  margin: 30px 0 5px;
}

.category_card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.category_card {
  user-select: none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category_card hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}
.category_card ins {
  text-decoration: none;
}
.category_card .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}

.category_card .main h2 {
  color: wheat;
  margin: 20px 0px;
  font-size: 30px;
}
.category_card .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  -webkit-user-drag: none;
}

.category_card .main .prize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}

.category_card .main .prize img {
  width: 30px;
}

.category_card .main .prize p {
  display: flex;
  gap: 10px;
}
.category_card .main .prize ins {
  color: #a89ec9;
  text-decoration: none;
}
.category_card .main .prize .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}
.category_card .main .prize .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}
.category_card ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.category_card:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}
.category_card:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}
